@import '~antd/dist/antd.css';


.heading{
    font-size: 30px;
    font-weight: 600;
    background-color: #428bca;
    color:#fff;
    border:none;
    border-radius:0px;
}
.greeting{
    font-size: 15px;
    float: right;
    margin-top: 10px;
}
.login-card{
    text-align:center;
    padding-top: 30px;
    border:none;
}
.form{
    flex-grow: 1;
}
.content{
    flex-grow: 1;
}
.form-item{
    width:100%;
    margin-top: 0px;
}
.flex-container{
    display: flex;
}
@media all and (max-width: 1000px) {
    .flex-container {
      justify-content: space-evenly;
    }
  }
@media all and (max-width: 700px) {
    .flex-container {
      flex-direction: column;
    }
  }