@import '~antd/dist/antd.css';

body{
    background-color: black
}
.heading{
    font-size: 30px;
    font-weight: 600;
    background-color: #428bca;
    color:#fff;
    border:none;
    border-radius:0px;
}
.greeting{
    font-size: 15px;
    float: right;
    margin-top: 10px;
}
.login-card{
    text-align:center;
    padding-top: 30px;
    border:none;
    background-color: transparent;
}
.form{
    flex-grow: 1;
}
.content{
    flex-grow: 1;
}
.form-item{
    width:100%;
    margin-top: 0px;
    background-color: transparent;
    color: #fff;
}
.login-btn{
    background-color: #428bca;
    color:#fff;
}

.flex-container{
    display: flex;
}
@media all and (max-width: 1000px) {
    .flex-container {
      justify-content: space-evenly;
    }
  }
@media all and (max-width: 700px) {
    .flex-container {
      flex-direction: column;
    }
  }


.loader {
    position: absolute;
    left:50%;
    top:50%;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #428bca;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



.messages{
    height:70vh;
    overflow-y: auto;
}

.message-own{
    padding: 5px;
    display: flex;
    flex-direction: row-reverse;
}

.message-from{
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.texts{
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 300;
    word-wrap: break-word;
    background-color: #428bca;
    color:#fff;
}

.name{
    margin-left: 4px;
    margin-right: 4px;
    padding: 5px;
    border-radius: 50%;
    font-size: 13px;
    font-weight: 300;
    background-color: #f44256;
    color:#fff;
    text-align: center;
    height:30px;
    width:30px;
}

.wrapper {
    display: flex;
    flex-basis: 100px;
    position: absolute;
    bottom: 0;
    width:100%;
    padding: 10px;
    background-color: transparent;
}

.time{
    margin-left: 10px;
}

.tick1{
    position: relative;
    margin-left: 2px; 
}
.tick2{
    position:relative;
    left:-10px;
}